@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2B355B !important;
  --secondary-color: #2A76E7 !important;
  --footer-bg: #3939C8 !important;
}


.lg-container {
  max-width: 1280px;
  margin: 0 auto;
}

.txt-blue {
  color: var(--secondary-color);
}

.txt-black {
  color: var(--primary-color);
}

.txt-white {
  color: #F2F2F2;
}

.bg-primary {
  background-color: #2A76E7;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  /* You can adjust the duration and timing function as needed */
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
  /* You can adjust the duration and timing function as needed */
}

/* navbar and footer  */

body {
  background-color: #F2F2F2;
}

.ns {
  color: var(--primary-color);
}

.btn-primary {
  color: white;
  background: var(--secondary-color);
  padding: 5px 30px;
  border-radius: 4px;
}

.primary-color {
  color: var(--primary-color);
  transition: all 0.2s linear;
}

.primary-color:hover {
  color: var(--secondary-color);
  transition: all 0.2s linear;
}

.footer-bg {
  background-color: var(--footer-bg);
}

 #myNumberInput{

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

}